%btn-primary{
  @apply transition cursor-pointer flex items-center justify-center py-2 px-4 border border-green-2 bg-transparent text-green-2 font-bold rounded-md shadow-md hover:bg-green-2 hover:text-white hover:shadow-xl focus:outline-none focus:ring-2 focus:ring-green-2 focus:ring-opacity-75;
}

%btn-secondary{
  @apply transition cursor-pointer flex items-center justify-center py-2 px-4 border border-green-2 bg-green-2 text-white font-bold rounded-md shadow-md hover:bg-green-2 hover:text-white hover:shadow-xl focus:outline-none focus:ring-2 focus:ring-green-2 focus:ring-opacity-75 disabled:bg-grey-4 disabled:border-grey-4 disabled:text-white;
}

.base {
  width: 80%;
  background: white;
  margin-left: 2px;
  padding-top: 28px;
  padding-left: 40px;
  padding-bottom: 80px;
  padding-right: 40px;
  &__breadcrumb {
    @apply pb-px mb-5 flex items-center;
    &_arrow {
      @apply mx-4 bg-grey-3;
      -webkit-mask-size: cover;
      mask-size: cover;
      width: 8px;
      height: 14px;
      -webkit-mask: url('../public/img/icon/icon-arrow-right.svg?inline') no-repeat;
      mask: url('../public/img/icon/icon-arrow-right.svg?inline') no-repeat;
    }
    p {
      @apply text-grey-3;
      &:last-of-type {
        @apply text-green-2;
      }
    }
  }
  &__wrapper {
    width: 632px;
  }
  &__title {
    @apply font-bold text-black-1 mb-10;
    font-size: 32px;
  }
  &__subtitle {
    @apply block text-blue-1 mb-4;
  }
  &__formtitle {
    @apply text-black-2 mb-3;
  }
  &__inputtitle {
    @apply block text-sm font-semibold mb-1.5;
  }
  &__formsection {
    @apply block border-b border-grey-2 pb-6 mb-3;
    &:last-of-type {
      @apply border-b-0;
    }
  }
  &__formlabel {
    @apply block mb-4;
    &:last-child {
      @apply mb-0;
    }
    &_icondel {
      @apply transition float-right text-base cursor-pointer hover:text-red-700;
    }
    &_icondelinvest {
      @apply transition absolute float-right text-base cursor-pointer hover:text-red-700;
      right: 0;
      top: -6px;
    }
    &_twin {
      @apply relative flex flex-row flex-wrap pb-2 mb-4 border-b border-gray-50;
      label {
        @apply w-3/6;
        &:nth-of-type(odd) {
          @apply pr-2;
        }
        &:nth-of-type(even) {
          @apply pl-2;
        }
      }
      &:last-child {
        @apply border-b-0 pb-2 mb-0;
      }
    }
    &_tris {
      @apply w-4/12;
      &:nth-child(1),
      &:nth-child(4) {
        @apply pr-2;
      }
      &:nth-child(2),
      &:nth-child(5) {
        @apply pr-2 pl-2;
      }
      &:nth-child(3),
      &:nth-child(6) {
        @apply pl-2;
      }
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6), {
        @apply mb-0;
      }
    }
  }
  &__btn {
    @extend %btn-primary;
    @apply w-full;
    height: 48px;
  }
  &__btnsimpan {
    @extend %btn-secondary;
    @apply w-52;
    height: 48px;
  }
  &__inputbase {
    @apply mt-1 block w-full px-3 py-2 bg-grey-5 border-grey-5 border-slate-300 rounded-md text-sm shadow-sm placeholder-grey-6 focus:outline-none focus:border-green-2 focus:ring-1 focus:ring-green-2 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
    height: 48px;
  }
  &__btnpreview {
    @apply text-xs font-semibold text-green-2 flex items-center justify-center px-3 py-2;
    height: 32px;
  }
  &__btnclear {
    @apply underline cursor-pointer font-semibold text-green-2 flex items-center justify-center px-3 py-2;
    height: 32px;
  }
  &__btndraft {
    @extend %btn-primary;
    @apply mx-4;
    height: 48px;
    width: 156px;
  }
  &__btnajukan {
    @extend %btn-secondary;
    height: 48px;
    width: 132px;
  }
}
